*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
@font-face {
	font-family: 'titillium';
	src: url('../fontes/titillium-bold-webfont.eot');
	src: url('../fontes/titillium-bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fontes/titillium-bold-webfont.woff2') format('woff2'),
	url('../fontes/titillium-bold-webfont.woff') format('woff'),
	url('../fontes/titillium-bold-webfont.ttf') format('truetype'),
	url('../fontes/titillium-bold-webfont.svg#titillium_bdbold') format('svg');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'titillium';
	src: url('../fontes/titillium-bold-webfont.eot');
	src: url('../fontes/titillium-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fontes/titillium-regular-webfont.woff2') format('woff2'),
	url('../fontes/titillium-regular-webfont.woff') format('woff'),
	url('../fontes/titillium-regular-webfont.ttf') format('truetype'),
	url('../fontes/titillium-regular-webfont.svg#titilliumregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'titillium';
}

/*custom*/

.titulo-secao{
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: .1em;
	margin-top: 62px;
	margin-bottom: 50px;
}
.scroll-top{
	cursor: pointer;
	position: fixed;
	bottom: 20px;
	right: 20px;
	background-color: #ccc;
	text-align: center;
}
.scroll-top a{
	display: block;
	width: 50px;
	height: 30px;
	text-decoration: none;
	color: #000;
}

/*MENU*/
header{
	width: 100%;
	height: 58px;
}
.header{
	background: #fff;
	width: 100%;
	height: 60px;
	position: fixed;
	padding: 0 9%;
	z-index: 10;
}
#checkbox{
	display: none;
}
.menu{
	display: flex;
	justify-content: space-between;

}
.logo{
	display: block;
	width: 58px;
	height: 58px;
	margin-top: 2px;

}
.logo img{
	width: 100%;
}
.menu-link{
	display: flex;
	flex-direction: row;
	height: 60px;
	list-style: none;
	
}
.menu-link li{
	height: 100%;
}
.menu-link a{
	display: block;
	width: 100%;
	height: 100%;
	margin: 0 10px;
	padding: 20px 0;
	text-align: center;
	text-decoration: none;
	color: #000;
	font-family: "helvetica", sans-serif;
	
}
.menu-link a:hover{
	background-color: rgb(230,230,230);

}
.menu-toggle{
	display: none;
	flex-direction: column;
	justify-content: space-between;
	height: 21px;
	cursor: pointer;
}
.menu-toggle span{
	width: 25px;
	height: 5px;
	background: #000;
	border-radius: 2px;
}

/*INTRODUÇÃO*/
.carousel-item{
	height: 70vh;
}
#introducao{
	color: #fff;
}

#introducao p{
	font-size: 2em;
	font-weight: bold;
}

/*SECTION SOBRE*/
#sobre{
	height: auto;
	background-color: #189282;
	color: #ffffff;
	padding-bottom: 50px;
}

#missao{
	height: auto;
	background-color: #ffffff;
	color: #1c645b;
	padding-top: 70px;
	padding-bottom: 50px;
}

.historia p{
	text-indent: 50px;
}

.titulo-secao::after {
	content: '';
	width: 87px;
	height: 4px;
	display: block;
	background-color: #14a58c;
	margin: 10px auto 0;
}

.titulo{
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: .1em;
}
.titulo::after {
	content: '';
	width: 87px;
	height: 4px;
	display: block;
	background-color: #f8f8f8;
	margin: 10px auto 0;
}

.espacamentoTexto{
	margin-top: 30px;
	margin-bottom: 50px;
}

#negocios-sociais .titulo-secao::after,
#parceiros .titulo-secao::after,
#espacoZen .titulo-secao::after{
	background-color: #f8f8f8;
}

#contato .titulo-secao::after{
	background-color: #fda34e;
}

/*NEGÓCIOS SOCIAIS*/
#negocios-sociais{
	height: auto;
	padding-bottom: 60px;
}

.negocios-article{
	padding: 20px;
	height: auto;
	margin-bottom: 3em;
}

.negocios-article p{
	line-height: 1.2;
	text-align: center;
}

.tam-article{
	height: 125px;
}

.negocios-article h3{
	text-align: center;
	font-size: 1.1em;
	color: #30bae7;
	margin-top: 20px;
}

.alinhamento{
	display: flex;
	justify-content: center;
}

/*INSTITUTO INOVAÇÃO SUSTENTAVEL*/
/*SECTION SOBRE*/
#sobreInstituto{
	height: auto;
	background-color: #189282;
	color: #ffffff;
	padding-bottom: 50px;
}

#cursos .titulo-secao::after{
	background-color: #14a58c;
}

/*Cursos*/
#cursos{
	height: auto;
	padding-bottom: 60px;
}



/*ESPAÇO ZEN*/
#sobreEspaco{
	height: auto;
	background-color: #189282;
	color: #ffffff;
	padding-bottom: 50px;
}
.historiaEspaco p{
	text-indent: 50px;
}

#espacoZen .titulo-secao::after,{
	background-color: #14a58c;
}

#espacoZen{
	height: auto;
	padding-bottom: 60px;
}

.espacoZen-article{
	padding: 20px;
	height: auto;
	margin-bottom: 3em;
}

.espacoZen-article p{
	line-height: 1.2;
	text-align: center;
}

.espacoZen-article h3{
	text-align: center;
	font-size: 1.1em;
	color: #30bae7;
	margin-top: 20px;
}

/*AGENDA*/
#sobreAgenda{
	height: auto;
	background-color: #189282;
	color: #ffffff;
	padding-bottom: 20px;
	margin-bottom: 20px;
}


#sobreAgenda .titulo-secao::after,{
	background-color: #14a58c;
}

.sobreAgenda-article{
	padding: 20px;
	height: auto;
	margin-bottom: 3em;
}

.cursos {
	background: #ffffff;
	padding: 60px;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
}

.cursos-item {
	flex: 1 1 260px;
	box-shadow: 0px 0px 3px #979797;
	padding: 20px;
	margin: 10px;
	margin-top: 100px;
	margin-bottom: 100px;
}

.cursos-item h2 {
	font-weight: bold;
	font-size: 1.25em;
	color: #00706b;
	text-align: center;
	margin-top: 20px;
}

.cursos-item span {
	max-width: 350px;
	margin: 15px auto;
	display: block;
	font-size: 1em;
	text-align: center;
	padding: 10px 0 5px 0;
	border-top: 4px solid rgba(21, 116, 108,.5);
	border-bottom: 4px solid rgba(21, 116, 108,.5);
}

/* .cursos-item sup {
	font-size: 1.5rem;
}

.cursos-item sub {
	font-size: 1rem;
} */

.cursos-item ul {
	max-width: 350px;
	margin: 20px auto;
	font-size: 1em;
	color: #000000;
}

.cursos-item li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

/* .cursos-item li::after {
	content: '';
	display: block;
	width: 6px;
	height: 6px;
	background: #2c70ff;
	border-radius: 50%;
} */

.cursos-item a {
	max-width: 150px;
	display: block;
	margin: 20px auto;
	border: 4px solid;
	color: #222222;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1em;
	padding: 10px 0;
	text-align: center;
}

/*RESULTADOS*/
#resultados{
	background-color: #189282;
	padding-bottom: 60px;
	height: auto;

}

#resultados h2{
	color: #fff;
}

#resultados h3{
	text-align: center;
	font-size: 1.1em;
	color: #e7f1f8;
	margin-top: 20px;
}

#resultados p{
	color: #3c5499;
}

/*Pagina Doe e Voluntariados*/
#tituloDoe{
	height: auto;
	background-color: #189282;
	color: #ffffff;
	padding-bottom: 50px;
}

#selecaoDoe .titulo-secao::after{
	background-color: #f8f8f8;
}

#selecaoDoe{
	height: auto;
	padding-bottom: 60px;
}

/*CONTATO*/
#contato{
	height: auto;
	background-color: rgba(255,71,0,.9);
	padding-bottom: 1em;
	color: #fff;
	text-align: center;
}

#depoimentos{
	background-color: #17c2a4;
}

#depoimentos h2,
#depoimentos p{
	color: #fff;
}

#contato h2{
	font-weight: bold;
}

.campo{
	background-color: rgba(235,125,75,.6);
	border: none;
	border-radius: 7px;
	padding: 0 20px;
}

.campo{
	color: #fff;
}

::-webkit-input-placeholder {
	color: #fff;
}

:-moz-placeholder { /* Firefox 18- */
	color: #fff;  
}

::-moz-placeholder {  /* Firefox 19+ */
	color: #fff;  
}

:-ms-input-placeholder {  
	color: #fff;  
}

.campo-peq{
	width: 100%;
	height: 3em;
	margin-top: 2em;
}
.campo-gran{
	width: 100%;
	height: 10em;
	margin-top: 2em;
	padding-top: 20px;
}

.parceiros-centro{
	/*width: 600px;
	height: 100px;*/
	margin: 0 auto;
	margin-bottom: 50px;
}

.parceiros-centro img{
	margin-left: 20px;
}

@media (max-width: 576px){
	.menu-toggle{
		display: flex;
		margin-top: 20px;
		margin-right: 20px;
	}
	.header{
		padding: 0;
	}
	.logo{
		margin-left: 20px;
	}
	.menu-link{
		position: absolute;
		display: none;
		width: 100%;
		height: auto;
		margin-top: 60px;
		background: #fff;
	}
	/* .menu-link li{
		margin-left: 
	} */
	.menu-link a{
		display: block;
		width: 100%;
		margin: 0;
		padding: 15px 0;
		text-decoration: none;
		color: #000;
		text-transform: uppercase;
	}
	.menu-link li{
		border-bottom: 1px solid rgba(210,210,210,1);
		margin-left: 0;
	}
	.menu-link li:first-child{
		border-top: 1px solid rgba(210,210,210,1);
	}
	#checkbox:checked + .menu-link{
		display: block;
	}
	.menu-link a + .menu-link{
		display: none;
	}

	/*introcução*/
	#introducao{
		color: #fff;
		
		width: 100%;
		height: 500px;
		background: #333;
	}
	#introducao p{
		font-size: 1.5em;
		font-weight: bold;
	}
	.titulo-secao{
		margin-top: 1.5em;
		margin-bottom: 1em;
	}
	#negocios-sociais p{
		text-align: left;
	}
	.carousel-item{
		height: auto;
	}
	#sobre p{
		text-align: left;
	}
}

@media (max-width: 800px) {
	.cursos {
		padding-left: 10px;
		padding-right: 10px;
	}
	.cursos .cursos-item:nth-child(3) {
		order: -2;
	}
	.cursos .cursos-item:nth-child(2) {
		order: -1;
	}
}

/*Doação e Voluntariado*/
.btn-outline-primary{
	display: flex;
	align-items: center;
	justify-content: center;
}